<%- include('../../dashboardLayouts/header') %>
<div class="card">
  <div class="card-header text-white">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAdd" id="modalTrigger"><i class="bi bi-shield-plus"></i> Baru</button>
  </div>
  <div class="card-body table-responsive mt-3">
    <table class="table table-striped caption-top" id="myTable">
      <thead>
        <tr>
          <th class="text-center">No</th>
          <th class="text-center">Role Name</th>
          <th class="text-center">Opsi</th>
        </tr>
      </thead>
      <tbody>
        <!-- uncomment this if not use datatables -->
        <!-- <% if (roles.length < 1) { %>
          <tr>
            <td colspan="7">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">No Data</div>
            </td>
          </tr>
        <% } %> -->

        <% let i = 1; %>
        <% roles.forEach(role => { %>
          <tr class="text-center">
            <td><%= i++ %></td>
            <td><%= role.role_name.charAt(0).toUpperCase() + role.role_name.slice(1) %></td>
            <td>
              <a href="#" class="badge rounded-pill text-bg-success btnEdit mb-1" data-bs-toggle="modal" data-bs-target="#modalEdit" data-id="<%= role.id %>" data-role_name="<%= role.role_name %>"><i class="bi bi-pencil-square"></i></a>
              <a href="#" class="badge rounded-pill text-bg-danger btnDelete" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="<%= role.id %>" data-role_name="<%= role.role_name %>"><i class="bi bi-trash3"></i></a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../../dashboardLayouts/footer') %>
<%- include('modalAdd') %>
<%- include('modalEdit') %>
<%- include('modalDelete') %>
<script src="/javascripts/master/roles.js"></script>